.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 85%;
    margin: 0 auto;
    padding:8px 0 0 0;
}
.images-count{
  color:#666666;
  font-size:18px;
}
.action-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
#wrap {
  margin-right: 50px;
  position:relative;
  height:35px;
  padding: 0;
}

.search-input {
  font-size:20px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  border-radius: 0;
  color: #555;
  padding:8px;
  padding-right: 60px;
  width: 330px;
  position: absolute;
  top: 0;
  right: 0;
  background:none;
  border-bottom: 1px solid #BBB;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search-input:focus {
  border:none;
  border-bottom: 2px solid #559FA8;
  z-index: 1;
  cursor: text;
}
.search-btn {
  display: inline-block;
  background-color: white;
  color:#559FA8;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
  padding-top:4px;
}
